<div class="contents row">
  <h2>投稿する</h2>
  <%= form_with(url: "/blogs", method: :post, local: true) do |form|%>

   <div class="field">
   	 <%= form.label "タイトル" %>
   	 <%= form.text_field :title %>
   </div>

   <div class="field">
   	 <%= form.label "記事" %>
   	 <%= form.text_area(:text, cols: 300, rows: 40) %>
   </div>

  <%= form.submit "送信"%>
  <% end %>
</div>
