<!DOCTYPE html>
<html>
  <head>
    <title>Bunbunblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <!-Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper red darken-3">
            <%=link_to"Bun-Bun-Blog", "/",class: "brand-logo"%>
            <div class="top-contents">
              <ul class="right hide-on-med-and-down">
                <% if user_signed_in? %>
                  <li><%=link_to"新規投稿", "blogs/new"%></li>
                  <li><%=link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%=link_to"ログイン",new_user_session_path%></li>
                  <li><%=link_to "新規登録", new_user_registration_path%></li>
                <%end%>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="page-footer red darken-3">
      <div class="container">
      <p>ぶんぶんぶんぶんぶんぶんんぶんぶんぶんぶんぶんインフルエンサー</p>
      </div>
    </footer>
  </body>
</html>
